
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color:black;
  background-repeat: repeat;
background-image: url("https://img.freepik.com/free-photo/red-light-round-podium-black-background-mock-up_43614-950.jpg?w=740&t=st=1705429622~exp=1705430222~hmac=34f7e27a8111597a7c385f1616a3dc977edfca23b5cf632f5a70b11a0c7073b5") 

  
}